@model IEnumerable<CamperPlanner.Models.Voertuigen>

@{
    ViewData["Title"] = "Index";
}

    @if (ViewBag.activeUserId == null)
    {
        <h1>Alle Voertuigen</h1>

    }
    else
    {
    <h1>Voertuigen van @ViewBag.user.Voornaam @ViewBag.user.Achternaam</h1>
    <p>@ViewBag.user.Email</p>
    }

    <p>
        <a asp-action="Create" asp-route-userId="@ViewBag.activeUserId">Create New</a>
    </p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Kenteken)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lengte)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contract.StartDatum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contract.EindDatum)
            </th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Kenteken)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lengte)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contract.StartDatum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contract.EindDatum)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.VoertuigID" asp-route-userId="@ViewBag.activeUserId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.VoertuigID" asp-route-userId="@ViewBag.activeUserId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.VoertuigID" asp-route-userId="@ViewBag.activeUserId">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>
