@model CamperPlanner.Models.ApplicationUser

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>gebruiker @Html.DisplayFor(model => model.Voornaam)</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Voornaam)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Voornaam)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Achternaam)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Achternaam)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Bankrekening)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Bankrekening)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Postcode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Postcode)
        </dd>
    </dl>
</div>
@*
<div>
    <a asp-action="Edit" asp-route-id="@Model.ApplicationUser.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Voertuigen.Kenteken)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Voertuigen.Type)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Voertuigen.Lengte)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Voertuigen.Merk)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Voertuigen)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Kenteken)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Lengte)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Merk)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.VoertuigID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.VoertuigID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.VoertuigID">Delete</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>
    *@
