@model IEnumerable<CamperPlanner.Models.ApplicationUser>

@{
    ViewData["Title"] = "Gebruikers";
}

<div class="form-styling p-3">
    <div class="row p-1">
        <div class="col-1 green">
            <i class="fa fa-user fa-2x" style="display: inline-block"></i>
        </div>
        <div class="col">
            <h5>
                Gebruikers
            </h5>
        </div>
        <div class="col float-right">
            <a class="float-right" asp-area="Identity" asp-page="/Account/Register">
                <i class="fa fa-plus-square fa-lg float-right green"></i>
            </a>
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Voornaam)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Achternaam)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Postcode)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Voornaam)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Achternaam)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Postcode)
                    </td>
                    <td>
                        <a asp-controller="Voertuigen" asp-action="Index" asp-route-id="@item.Id">Voertuigen</a> |
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

